h1 {
    background-color: yellow;
    border: 2px solid black;
}
div {
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media( min-width: 700px) {
    h1 {
        background-color: green;
    }
}
@media( max-width: 200px) {
    h1 {
        background-color: pink;
    }
}

@media( orientation: landscape) {
    div {
        background-color: red;
    }
}


.box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: red;
}
.one {
    background-color: aquamarine;
    position: relative;
    z-index:1;
}
.two {
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
}